html {
	height: 100%;
	background-color: #C8C8C8;
	scroll-behavior: smooth;
}

.navigation {
	max-width: 60vw;
	mask-image: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		#ffffff 25%,
		#ffffff 75%,
		rgba(255, 255, 255, 0) 100%
	);
	margin: 0 auto;
	padding: 10px 0;
}

.navigation ul {
	text-align: center;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.2) 25%,
		rgba(255, 255, 255, 0.2) 75%,
		rgba(255, 255, 255, 0) 100%
	);
}

.navigation ul li {
	display: inline-block;
}

.navigation ul li a {
	color: black;
	padding: fit-content;
	margin: 20px;
	width: 25%;
	font-size: 20px;
	text-transform: uppercase;
}

.navigation ul li a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.1);
	color: rgba(0, 35, 122, 0.7);
}

.header {
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.2) 25%,
		rgba(255, 255, 255, 0.2) 75%,
		rgba(255, 255, 255, 0) 100%
	);
	text-transform: uppercase;
	letter-spacing: 4px;
	top: -25px;
	position: relative;
}

#headerContent {
	text-align: center;
	font-family: fantasy;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: black;
	text-align: center;
	font-size: 15px;
	font-family: fantasy;
}

footer:hover .form {
	display: block;
}

#contact {
	color: white;
}

.form {
	display: none;
}

.myForm {
	text-align: center;
	font-size: 40px;
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 800px;
	min-height: 300px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.myForm input {
	font-size: 25px;
}
#mySubmit {
	font-size: 40px;
	font-family: fantasy;
}
.myForm button:hover {
	color: darkgreen;
}

.myForm button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4caf50;
	width: 100%;
	border: 0px;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	margin-top: 60px;
}

#login,
#signup {
	font-size: 40px;
	font-family: "Stencil Std", fantasy;
	margin: 10px;
	width: 300px;
	color: black;
	border: solid;
	padding: 5px;
}
#login {
	margin-right: 400px;
}
#login :hover {
	background-color: grey;
}

#search {
	text-align: center;
	font-family: fantasy;
	font-size: 30px;
}

#name {
	font-family: fantasy;
}

.noDataContainer {
	text-align: center;
	font-size: 40px;
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 800px;
	min-height: 300px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#topBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: black;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-size: 18px;
}

#topBtn :hover {
	background-color: #555;
}


/* for the loading circle */
.loading {
  max-width: 100px;
  height: 40px;
  border: 5px solid #2FCE9E;
  border-radius: 50px;
  position: absolute;
  top: 73%;
  right: 53%;
  transform: translate(-50%, -50%), rotate(0deg); 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #2FCE9E;
  transition: all .5s;
  margin: -20px -75px;
}

.loading:hover {
  cursor: pointer;
}

.loading.is-loading {
  transition: all .17s ease-out;
  color: transparent;
  width: 40px;
  height: 40px;
  border: 5px solid #B9B9B9;
  border-top: 5px solid #2FCE9E;
  border-radius: 50%; 
  animation: rotate 1s infinite linear;
  transform-origin:center center;
  margin-top: 60px;
  right: 500px;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cemeteryMap {
	max-width: 1536px;
	max-height: 1092.75px;
	left: 180px;
	position:  relative;
}