{%extends 'login_page.html'%}

{% block titleBlock%}
Forgot Password
{%endblock%}

{% block mainBlock%}
 <div style = "color: red">{{ error }} </div>
<form id="myForm" action="/sendNewCode" method="POST">
  Enter Username and a reset link will be sent to the related email:
  <input id = "Username" type="text" name="Username" placeholder="Username..."><br>
  <button class = "loading" type="submit" > Submit </button>
</form>


<script>
var loading = document.getElementsByClassName('loading')[0];

loading.addEventListener('click', function(event) {
    loading.className += ' is-loading';
  
    setTimeout(function() {
      loading.className = 'loading finish';
      loading.innerHTML = 'Timed Out';
    }, 4000);
  
  setTimeout(function() {
    loading.className = 'loading';
  }, 4000);
  
  setTimeout(function() {
    loading.innerHTML = 'Submit';
  }, 4100);
});
</script> 
{%endblock%}