{%extends 'wireframe.html'%}







{% block titleBlock%}
<h1 id = "headerContent"> Search A name </h1>
{%endblock%}

{% block mainBlock%}
<p id = "search">Please type the person who you're looking for in the box below</p>






<form name = "searchForm" onsubmit = "return loadName()" class = "myForm"  >

  <pre>{{error}}</pre>

  <label>Search Full Name:</label><br>

  <input type="text" placeholder="Name..." name ="Name"><br>
 

  <br>

  <button type = "submit" id='mySubmit'> Search Name </button>

</form>









<script>
   function loadName() {
      var Name = document.forms["searchForm"]["Name"].value;

        params = 'Name='+Name;
       var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/Search', true); // true is asynchronous
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("txt").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }
</script>
{%endblock%}

