{%extends 'wireframe.html'%}

<head>
	<title>N/A</title>
</head>

{% block titleBlock%} Search A Name {%endblock%} {% block mainBlock%}
<body>
	<p id="search">Please type the person who you're looking for in the box below</p>

	<!-- <form  name = "searchForm" onsubmit = "return loadName()" class = "myForm"  > -->
	<form method="post" class="myForm">
		<pre>{{error}}</pre>

		<label>Search Full Name:</label><br />

		<input type="text" placeholder="Name..." name="Name" /><br />

		<br />

		<button href="/Search" type="submit" id="mySubmit">Search</button>
	</form>
</body>
{%endblock%}
