<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type = "text/css" href = "/static/wireframe.css">
  <link rel="stylesheet" type = "text/css" href = "/static/Home_styling.css">
	<title> Title </title>
</head>
<body>

	<nav class = "navigation">
  		<ul>
    		<li>
      			<a href="/home">Home</a>
    		</li>
    		<li>
      			<a href="/map">View Map</a>
    		</li>
    		<li>
      			<a href="/form">Search Name</a>
    		</li>
    		<li>
      			<a href="/login">Login</a>
    		</li>
 		 </ul>
	</nav>

	<header class = "header">
	<h1 id = "headerContent"> St woolos Cemetery </h1>
	</header>

  <aside class = "sidebar">
    <h1>Facts about St Woolos Cemetery</h1>
    <p>St Woolos Cemetery (officially named Newport and St Woolos new Cemetery)
      is the main cemetery in the city of Newport,
      Wales situated one mile to the west of the Church in Wales cathedral known by the same name.
      It contains four chapels, and various ornate memorials dating back to the early Victorian period,
      and was the first municipally constructed cemetery in England and Wales.
      It remains in use to this present day as the main cemetery for burials in Newport,
      and has been used as a filming location for the BBC series, Doctor Who as well as Sherlock.</p>

  </aside>

  <main>
		<section class = "section1">
		<div class="flip-card">
	      <div class="flip-card-inner">
	        <div class="flip-card-front">
	          <img src="/static/cemetery picture.jpg" alt="picture of cemetery" class = "cemetery_img1">
	        </div>
	        <div class="flip-card-back">
	          <h1>History of St Woolos Cemetery</h1>
	          <p>St Woolos Cemetery, in Newport, is the oldest public cemetery in Britain.
			        When in February, 1854 the first 14 acre site now contained within the present cemetery was
			        bought from Lord Tredegar and initially shared out between the established church
			        and dissenters all seemed ecumenical sweetness and reason.
			        And now, more than 600,000 people from all walks of life have been buried there.
			        "The stories of those buried in St Woolos Cemetery are absolutely fascinating,"
			        said Richard Frame, who lives in Baneswell, Newport.</p>
	        </div>
	      </div>
	    </div
		</section>
		<br><br><br>
		<section class = "section2">
		<div class="flip-card">
	      <div class="flip-card-inner">
	        <div class="flip-card-front">
	          <img src="/static/cemetery picture 2.jpg" alt="picture of cemetery" class = "cemetery_img2">
	        </div>
	        <div class="flip-card-back">
	          <h1>History of St Woolos Cemetery</h1>
						<p>The dead can be presumed to have no further interest in mortal gain
			        but the same can never be said for those they leave behind.
			        The early story of the cemetery is one of a conflict of interests sometimes between religious groups,
			        but sometimes over nothing more elevated than earthly spoils.
			        <br>
			        The original idea of cemeteries, health considerations apart, was that they should be places
			        where the living can quietly commune with the dead in dignified surroundings.
			        No more should stinking corpses buried in only inches of soil offend the senses of the living.
			        An Act introduced by Lord Palmerston’s government in 1850 had
			        imposed strict rules on the way burial boards must conduct their business.</p>
	        </div>
	      </div>
	    </div
		</section>

  </main>

	<footer class = "footer">
    footer
    <button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>
	</footer>
</body>
</html>


<script type="text/javascript">
  var topbutton = document.getElementById("topBtn");

  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      topbutton.style.display = "block";
    } else {
      topbutton.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
