{%extends 'wireframe.html'%} {%block mainBlock%}
<div class="center">
	<h1>{{ infodata.name }}</h1>
	<img
		src="{{ infodata.img or '/static/unknown-avatar.svg' }}"
		alt="Picture of {{ infodata.name }}"
		style="width: 25vw; height: 100%"
	/>
	<p>Born on: {{ infodata.dob }}</p>
	<p>Died on: {{ infodata.dod }}</p>
	<p>Cemetery Section: {{ infodata.cs }}</p>
	<p>Grave Number: {{ infodata.gn }}</p>
	<p style="white-space: pre-wrap">{{ infodata.info }}</p>
	<button onclick="window.history.back()">Go Back</button>
</div>
{%endblock%} {% block titleBlock%} Information {%endblock%}
