{%extends 'wireframe.html'%} {% block titleBlock%} Information {%endblock%} {%block mainBlock%}
<div class="myForm">
	<h1>{{ infodata.name }}</h1>
	<img
		src="{{ infodata.img or '/static/unknown-avatar.svg' }}"
		alt="Picture of {{ infodata.name }}"
		style="width: fit-content; height: fit-content"
	/>
	<p>Date of Birth: {{ infodata.dob }}</p>
	<p>Date of Death: {{ infodata.dod }}</p>
	<p>Plot Section: {{ infodata.cs }}</p>
	<p>Grave Number: {{ infodata.gn }}</p>
	<p style="white-space: pre-wrap">{{ infodata.info }}</p>
	<a style="font-size: 25px" href="/flowers/{{ id }}">View all flowers</a>
	{% if current_user.is_authenticated %}
	<button onclick="favourite()">Favourite</button>
	{% endif %}
	<button onclick="window.history.back()">Back</button>
</div>
<script>
	function favourite(id) {
		fetch("/addfavourite", {
			method: "POST",
			body: JSON.stringify({
				id: {{ id }}
			}),
			headers: {
				"Content-Type": "application/json"
			}
		})
	}
</script>
{%endblock%}
