<!DOCTYPE html>
<html lang="en">
<head>
      <link rel="stylesheet" type = "text/css" href = "/static/wireframe.css">
      <title> {{ self.titleBlock() }} </title>
</head>
<body>

      <nav class="navigation">
                  <ul>
                        <li>
                              <a href="/">Home</a>
                        </li>
                        <li>
                              <a href="/map">Plot Map</a>
                        </li>
                        <li>
                              <a href="/livemap">Live Map</a>
                        </li>
                        <li>
                              <a href="/form">Search Name</a>
                        </li>
                        <li>
                              <a href="/login">Login</a>
                        </li>
                  </ul>
            </nav>

      <header class = "header">
      <h1 id = "headerContent">{% block titleBlock%} Login / Sign UP {%endblock%}</h1>
      </header>
      
      <div class = "content"> 
            <div class='myForm'>
                  <a href="/login" id="login"> Log In<a>
                  <a href="/signup" id="signup"> Sign Up</a>
                  <br>
                  <div style = "color: red">
                  {{ message }}
                  </div>
                  <br>

                  {%block mainBlock%}

                  {%endblock%}
            </form>
      </div>

      <footer class = "footer">
            footer
      </footer>
</body>
</html>
