{%extends 'login_page.html'%}

{% block titleBlock%}
Enter One 
{%endblock%}



{% block mainBlock%}
				<form  method= 'post'>
                  Username:
                  <input type = "text" name = "username" placeholder="Username..." ><br>
                  New Password:
                  <input id = "psswrd" type = "password" name = "password" placeholder="New Password..." ><br>
                  <button type = "submit" id='mySubmit'> Submit </button>

                </form>
                {{ error }}
{%endblock%}

