{%extends 'wireframe.html'%} {% block mainBlock%}
<h1>{{ message }}</h1>
<div class="validation">
	<form class="userUpload" method="post" action="">
		<label for="name">Name:</label><br />
		<input type="text" id="name" name="name" value="" /><br />
		<label for="Dbirth">Date of birth:</label><br />
		<input type="text" id="Dbirth" name="Dbirth" value="" /><br />
		<label for="Ddeath">Date of death:</label><br />
		<input type="text" id="Ddeath" name="Ddeath" value="" /><br />
		<label for="Information">Information:</label><br />
		<textarea id="Information" name="Information"></textarea><br />
		<label for="Cemetery_section">Cemetery section:</label><br />
		<input type="text" id="Cemetery_section" name="Cemetery_section" value="" /><br />
		<label for="Grave_number">Grave number:</label><br />
		<input type="text" id="Grave_number" name="Grave_number" value="" /><br />
		<input type="submit" value="Submit" />
	</form>
</div>

<script type = "text/javascript">
function validate(){
      if( !document.querySelector("#name").value ) {
         alert( "Please enter your name" );
         document.querySelector("#name").focus() ;
         return false;
      }

}
document.querySelector("form").onsubmit = validate;

function numbers(){
    let x = document.getElementById("Dbirth").value;
    let text;
  if (isNaN(x) || x < 0 || x > 2000) 
alert("Please enter a valid date of birth")
  }

document.isNaN("form").onsubmit = numbers


</script>
{%endblock%} {%block titleBlock%} Add User Page {% endblock %}
