{%extends 'wireframe.html'%} {% block titleBlock%} Flowers {%endblock%} {%block mainBlock%}
<link rel="stylesheet" type="text/css" href="/static/flower_styling.css" />
{% if infodata %}
<h1>{{ infodata.name }}</h1>

{% if current_user.is_authenticated %}
<a id= "FlowerLink" href="#flowername">Submit a flower</a><br>
{% endif %}

{% if current_user.is_authenticated == False %}
<div style="font-size: 20px">
	<a>If you would like to submit a flower, please <a href="/login">login</a>.</a><br>
</div>
{% endif %}

<br><img
	src="{{ infodata.img or '/static/unknown-avatar.svg' }}"
	alt="Picture of {{ infodata.name }}"
/><br>
{% endif %}

{% if current_user.is_authenticated %}
<div class="FlowerForm">
	<div style="font-size: 20px">
		<br>{{ message }}<br>
	</div>
	<br><form class="SubmitFlower" method="post">
		<label for="name">Name:</label><br />
		<input id="flowername" type="text" id="name" name="name"  placeholder= "Enter your name" value="" /><br />
		<label for="flowermessage">Flower message:</label><br />
		<textarea id="flowermessage" name="flowermessage" placeholder= "Enter a message"></textarea><br />
		<input type="submit" value="Submit" />
	</form><br>
</div>
{% endif %}

{% for flower in flowers %}
<div class= "FlowerSection">
	<p>{{ flower[1] }}</p>
    <p1>left by: {{ flower[0] }}</p1>
</div>
{% endfor %}
{%endblock%}
