<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/static/wireframe.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.0.6/build/grids-responsive-min.css" />
		<title>Title</title>
	</head>
	<body>
		<nav class="navigation">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/map">Plot Map</a>
				</li>
				<li>
					<a href="/livemap">Live Map</a>
				</li>
				<li>
					<a href="/form">Search Name</a>
				</li>
				<li>
					<a href="/login">Login</a>
				</li>
			</ul>
		</nav>

		<header class="header">
			<h1 id="headerContent">{%block titleBlock%} Home Page {%endblock%}</h1>
		</header>

		{%block mainBlock%} {%endblock%}

		<footer class="footer">footer</footer>
	</body>
</html>
