<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/static/wireframe.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.0.6/build/grids-responsive-min.css" />
		<title>Title</title>
	</head>
	<body>
		<nav class="navigation">
			<ul>
				<li>
					<a href="/home">Home</a>
				</li>
				<li>
					<a href="/map">Plot Map</a>
				</li>
				<li>
					<a href="/livemap">Live Map</a>
				</li>
				<li>
					<a href="/form">Search Name</a>
				</li>
				<li>
					<a href="/login">Login</a>
				</li>
			</ul>
		</nav>

		<header class="header">
			<h1 id="headerContent">{%block titleBlock%} Home Page {%endblock%}</h1>
		</header>

		{%block mainBlock%} {%endblock%}

		<footer class="footer">
      
        <form class = "form" method = "post" style="background-color:#ddd;" >
          <h1>Give Some Feedback!</h1>
          <section class="name">
            <label for="name">What is your name</label>
                  <input type="text" name="name" id="name">
          </section>
          <hr>
          <section class="email">
            <label for="email">Enter your email: </label>
            <input type="text" name="email" id="email">
          </section>
         
          <hr>
          <section class="feedback  ">
            <label for="feedback"> <h3> Leave us a message</h3></label>
            <input type="text" name="comments" id="comments">
            <br>
            <p> Our Email: Definitely_A_Real_Email@TrustUs.com <p>
            <input type="submit" value="Submit">
            <br>

          </section>
        </form>
          <p id="contact"> Contact us </p>
    </footer>
	</body>
</html>
