<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/static/wireframe.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.0.6/build/grids-responsive-min.css" />
		<title>{{ self.titleBlock() }}</title>
	</head>
	<body>
		<nav class="navigation">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/map">Plot Map</a>
				</li>
				<li>
					<a href="/livemap">Live Map</a>
				</li>
				<li>
					<a href="/form">Search Name</a>
				</li>
				{% if current_user.is_anonymous %}
				<li>
					<a href="/login">Login</a>
				</li>
				{%endif%} {% if not current_user.is_anonymous and current_user.is_admin %}
				<li>
					<a href="/moderator">Moderator</a>
				</li>
				{%endif%}{% if current_user.is_authenticated %}
				<li>
					<a href="/add">Add Person</a>
				</li>
				{%endif%}{% if not current_user.is_anonymous %}
				<li>
					<a href="/logout">Logout</a>
				</li>
				{%endif%}
			</ul>
		</nav>
		<span class= "NavAnimation"></span>

		<header class="header">
			<h1 id="headerContent">{%block titleBlock%} Home Page {%endblock%}</h1>
		</header>

		{%block mainBlock%} {%endblock%}
		<footer class="footer">
			<button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>
		</footer>
	</body>
	<script type="text/javascript">
		var topbutton = document.getElementById("topBtn");

		window.onscroll = () => {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				topbutton.style.display = "block";
			} else {
				topbutton.style.display = "none";
			}
		};

		function topFunction() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}
		////////////////////////////////////////////
		(function() {

			const NavAnimation = document.querySelector(".NavAnimation");
			const links = document.querySelectorAll(".navigation a");
			const colors = ["deepskyblue"];
		  
			function mouseenterFunc() {
			  if (!this.parentNode.classList.contains("active")) {
				for (let i = 0; i < links.length; i++) {
				  if (links[i].parentNode.classList.contains("active")) {
					links[i].parentNode.classList.remove("active");
				  }
				  links[i].style.opacity = "0.5";
				}
		  
				this.parentNode.classList.add("active");
				this.style.opacity = "1";
		  
				const width = this.getBoundingClientRect().width;
				const height = this.getBoundingClientRect().height;
				const left = this.getBoundingClientRect().left + window.pageXOffset;
				const top = this.getBoundingClientRect().top + window.pageYOffset;
				const color = colors;
		  
				NavAnimation.style.width = `${width}px`;
				NavAnimation.style.height = `${height}px`;
				NavAnimation.style.left = `${left}px`;
				NavAnimation.style.top = `${top}px`;
				NavAnimation.style.borderColor = color;
				NavAnimation.style.transform = "none";
			  }
			}
		  
			for (let i = 0; i < links.length; i++) {
			  links[i].addEventListener("mouseenter", mouseenterFunc);
			}
		  
			function resizeFunc() {
			  const active = document.querySelector(".navigation li.active");
		  
			  if (active) {
				const left = active.getBoundingClientRect().left + window.pageXOffset;
				const top = active.getBoundingClientRect().top + window.pageYOffset;
		  
				NavAnimation.style.left = `${left}px`;
				NavAnimation.style.top = `${top}px`;
			  }
			}
			window.addEventListener("resize", resizeFunc);
		  })();
	</script>
</html>
